{{!-- Code for past reviews --}}
<div class="jumbotron jumbotron-fluid justify-content-center">
  <div class="container mt-5">
    <h1 class="display-4 text-center">Your Reviews</h1>
    <p class="lead text-center">More text if needed--otherwise delete.</p>
  </div>
</div> 
      
<div class="container container-fluid row justify-content-center mx-auto my-3">
  {{reviews.length}}
 {{#each reviews}}
<div class="row mb-5">
  <div class="col-2"></div>
  <div class="col-10">
    <div class="card mt-4" id="reviewCard" style="width: 80%;">
      <div class="card-body">
          <p class="pl-4 pr-4 pb-2 text-center"></p>
          <p class="pl-4 pr-4 pb-2 text-center fs-3">Your restaurant:</p>
            <p class="pl-4 pr-4 pb-2 text-center fw-bold"> {{this.restaurant_name}}</p>  
            <p class= "pl-4 pr-4 pb-2 text-center fs-3">Your order:</p>
            <p class="pl-4 pr-4 pb-2 text-center fw-bold"> {{this.order}}</p>
            <p class="pl-4 pr-4 pb-2 text-center fs-3">Your rating:</p>
            <p class="pl-4 pr-4 pb-2 text-center fw-bold"> {{this.rating}}</p>
            <p class="pl-4 pr-4 pb-2 text-center fs-3">Your experience:</p>
            <p class="pl-4 pr-4 pb-2 text-center fw-bold"> {{this.experience}}</p>
      </div>
    </div>
  </div>
</div>
{{/each}}
{{!-- {
		"id": 14,
		"restaurant_name": "asdf",
		"order": "asdf",
		"rating": "asdf",
		"experience": "chekcn",
		"user_id": 1
	}, --}}
</div>